{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname,{label:'Prenom'}) }}
        {{ form_row(registrationForm.name,{label:'Nom'}) }}
        {{ form_row(registrationForm.email,{label:'Adresse Mail'}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms,{label:"j'accepte les conditions"}) }}

        <button type="submit" class="btn btn-primary">Créer mon compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
